@import './variables.scss';

.iframe-form {
  display: flex;
  flex-wrap: wrap;
  width: $width-100;

  .iframe-form-item {
    display: flex;
    align-items: center;
    width: $width-100 / $--count-form-inline - 1%;
    margin-right: 1% * $--count-form-inline / ($--count-form-inline - 1);

    &:nth-child(#{$--count-form-inline}n) {
      margin-right: 0;
    }

    .el-form-item__content {
      display: flex;
      align-items: center;
      width: 100%;
      line-height: 0;

      .iframe-form-input {
        width: 100% !important;
        margin: 0;
        z-index: 0;
      }
    }
  }

  .el-autocomplete {
    display: block;
  }

  .iframe-form-btn {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-grow: 1;
  }

  .iframe-form-item__color {
    width: 100%;

    .el-color-picker__trigger {
      width: 100%;
      height: 32px;
      border: 1px solid $--border-color-base;
    }
  }

  .iframe-checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .el-color-picker__mask {
    width: 100%;
    height: 100%;
  }
}

.iframe-label {
  .iframe-form-label {
    width: $--width-form-label;
    font-size: 14px;
    color: $--color-text-primary;
    line-height: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
  }

  .iframe-label__required::before {
    content: '*';
    color: $--color-danger;
    margin-right: 4px;
  }

  & + div {
    width: 100%;
  }
}

.el-dialog {
  $--width-form-label: 120px ;
 .iframe-label .iframe-form-label {
    width: $--width-form-label;
  }


  .iframe-form-item {
    $--count-form-inline: 3 ;
    width: $width-100 / $--count-form-inline - 1%;
    margin-right: 1% * $--count-form-inline / ($--count-form-inline - 1);

    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }
}

.icredit-form {
  &--title {
    position: relative;
    min-width: 78px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #262626;
    line-height: 20px;
    padding-left: 15px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 18px;
      background: #1890ff;
      border-radius: 0px 2px 2px 0px;
    }
  }

  .el-form-item__content {
    text-align: left;
  }

  .el-input-number {
    line-height: 30px;
  }

  .el-input-number.is-controls-right .el-input-number__decrease,
  .el-input-number.is-controls-right .el-input-number__increase {
    line-height: 15px;
  }

  .el-input-group__append,
  .el-input-group__prepend {
    background-color: transparent;
  }
}
