$width-100: 100%;
$--count-form-inline: 4 !default;
$--width-form-label: 90px;

$--border-color-base: #d9d9d9 !default;

$--color-text-primary: #333 !default;
$--color-success: #52c41a !default;
$--color-warning: #faad14 !default;
$--color-danger: #ff4d4f !default;
$--color-info: #909399 !default;
