<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditApiBaseMapper">
    <select id="findByApiName" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditApiBaseEntity">
        select *
        from icredit_api_base
        where del_flag = 0
        <if test="name != null and name != '' ">
            AND name = #{name}
        </if>
        limit 1
    </select>

    <select id="findByApiPath" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditApiBaseEntity">
        select *
        from icredit_api_base
        where del_flag = 0
        <if test="path != null and path != '' ">
            AND path = #{path}
        </if>
        limit 1
    </select>

    <update id="updatePublishStatusById">
        UPDATE icredit_api_base SET publish_status = #{publishStatus},publish_time = #{nowDate},publish_user = #{userId} WHERE id = #{id}
    </update>

    <select id="getApiByApiGroupId" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.web.result.ApiNameAndIdListResult">
        select id,name
        from icredit_api_base
        where del_flag = 0
        and publish_status = 2
        and api_group_id in
        <foreach collection="list" index="index" item="appGroupId" open="(" close=")" separator=",">
            #{appGroupId}
        </foreach>
    </select>

    <select id="getIdsByApiGroupIds" resultType="java.lang.String">
        select id
        from icredit_api_base
        where del_flag = 0
        and api_group_id in
        <foreach collection="list" index="index" item="apiGroupId" open="(" close=")" separator=",">
            #{apiGroupId}
        </foreach>
    </select>

    <select id="findPublishedByWorkFlowId" resultType="java.lang.String">
        select apiId
        from (
            select api.id as apiId
            from icredit_work_flow wf,icredit_api_group ag,icredit_api_base api
            where wf.id = ag.work_id and ag.id = api.api_group_id and wf.del_flag = 0 and ag.del_flag = 0 and api.del_flag = 0 and api.publish_status = 2
            <if test="workFlowId != null and workFlowId != ''">
                and wf.id = #{workFlowId}
            </if>
            UNION ALL
            select apiHi.id as apiId
            from icredit_work_flow wf,icredit_api_group ag,icredit_api_base_hi apiHi
            where wf.id = ag.work_id and ag.id = apiHi.api_group_id and wf.del_flag = 0 and ag.del_flag = 0 and apiHi.del_flag = 0 and apiHi.publish_status = 2
            <if test="workFlowId != null and workFlowId != ''">
                and wf.id = #{workFlowId}
            </if>
        ) as temp
        limit 1
    </select>

    <select id="findPublishedByApiGroupId" resultType="java.lang.String">
        select apiId
        from (
            select api.id as apiId
            from icredit_api_group ag,icredit_api_base api
            where ag.id = api.api_group_id and ag.del_flag = 0 and api.del_flag = 0 and api.publish_status = 2
            <if test="apiGroupId != null and apiGroupId != ''">
                and ag.id = #{apiGroupId}
            </if>
            union all
            select apiHi.id as apiId
            from
            icredit_api_group ag,icredit_api_base_hi apiHi
            where ag.id = apiHi.api_group_id and ag.del_flag = 0 and apiHi.del_flag = 0 and apiHi.publish_status = 2
            <if test="apiGroupId != null and apiGroupId != ''">
                and ag.id = #{apiGroupId}
            </if>
        ) as temp
        limit 1
    </select>

    <delete id="truthDelById">
        delete from icredit_api_base
        where id = #{id}
    </delete>

    <select id="getCountByPublishAndDelFlag" resultType="java.lang.Long">
        select ifnull(count(*), 0) from icredit_api_base
        <where>
            <if test="publishStatus != null">
                AND publish_status = #{publishStatus}
            </if>
            <if test="delFlag != null">
                AND del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <select id="newlyDayList" resultType="java.lang.Long">
        select ifnull(count(*), 0) from icredit_api_base
        <where>
            <if test="createTime !=null ">
                and TO_DAYS(create_time) = TO_DAYS(#{createTime})
            </if>
            AND del_flag = 0
        </where>
    </select>

    <select id="queryInnerApiCount" resultType="java.lang.Integer" parameterType="java.util.Collection">
        SELECT COUNT(1) FROM icredit_api_base WHERE del_flag=0 AND interface_source=0
        AND
        <foreach collection="collection" index="index" item="item" open=" id in (" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
