<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditGenerateApiMapper">

    <select id="getByApiIdAndVersion"
            resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditGenerateApiEntity">
        select *
        from icredit_generate_api
        where del_flag = 0
        <if test="id != null and id != '' ">
            AND api_base_id = #{id}
        </if>
        <if test="apiVersion != null and apiVersion != '' ">
            AND api_version = #{apiVersion}
        </if>
        limit 1
    </select>

    <delete id="removeByApiId">
        delete from icredit_generate_api
        where api_base_id = #{apiId} and api_version = #{apiVersion}
    </delete>

    <delete id="deleteByApiIdAndVersion">
        delete from icredit_generate_api where api_base_id = #{apiId} AND api_version = #{apiVersion}
    </delete>
</mapper>
