<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditWorkFlowMapper">

    <select id="hasExit"
            resultType="java.lang.Boolean">
        select 1
        from icredit_work_flow
        <where>
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
            <if test="id != null and id != '' ">
                AND id != #{id}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="getMaxSort"
            resultType="java.lang.Integer">
        select ifnull(Max(sort), 0)
        from icredit_work_flow
    </select>

    <update id="updateSort">
        update icredit_work_flow
        <set>
            sort=#{sort}
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <select id="searchFromName"
            resultType="com.jinninghui.datasphere.icreditstudio.dataapi.web.result.WorkFlowResult">
        select name as workFlowName,
        id as workFlowId
        from icredit_work_flow
        <where>
            <if test="name !=null and name != '' ">
                and name like concat ('%', #{name}, '%')
            </if>
            AND del_flag = 0
        </where>
    </select>

    <select id="getWorkFlowList" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.web.result.WorkFlowIdAndNameResult">
        select id,name from icredit_work_flow where del_flag = 0
    </select>

    <select id="findApiInfoByApiIds" parameterType="java.util.Map" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.dto.ApiInfoDTO">
        select iwf.name as workFlowName,iag.name as apiGroupName,iab.name as apiName,iwf.id as workFlowId,iag.id as apiGroupId,iab.id as apiId
        from icredit_work_flow iwf,icredit_api_group iag,icredit_api_base iab
        where iwf.id = iag.work_id
        and iab.api_group_id = iag.id
        and iab.del_flag = 0
        <if test="list != null">
            and iab.id in
            <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="publishStatus != null"> and iab.publish_status=#{publishStatus} </if>
    </select>

    <update id="renameById">
        update icredit_work_flow SET `name` = #{name} WHERE id = #{id} AND del_flag = 0
    </update>

    <select id="findNextWorkId" resultType="java.lang.String">
        select id
        from icredit_work_flow
        where del_flag = 0 and sort &lt; #{sort}
        order by sort desc
        limit 1
    </select>

    <select id="getFirstWorkFlowId" resultType="java.lang.String">
        select id
        from icredit_work_flow
        where del_flag = 0
        order by sort desc
        limit 1
    </select>
</mapper>
