<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditRegisterApiMapper">

    <select id="findByApiIdAndApiVersion" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditRegisterApiEntity">
        select *
        from icredit_register_api
        where del_flag = 0
        <if test="apiBaseId != null and apiBaseId != ''">
            and api_base_id = #{apiBaseId}
        </if>
        <if test="apiVersion != null and apiVersion != ''">
            and api_version = #{apiVersion}
        </if>
    </select>

    <delete id="deleteByApiIdAndApiVersion">
        delete from icredit_register_api where api_base_id = #{apiId} AND api_version = #{apiVersion}
    </delete>

    <select id="findWaitPublishedByApiId" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.dto.RegisterApiDTO">
        SELECT DISTINCT apiHi.api_version,apiHi.api_version apiVersion,apiHi.`name` apiName,apiHi.`desc` apiDesc,registerApi.`host` reqHost,registerApi.path reqPath
        FROM icredit_api_base_hi apiHi,icredit_register_api registerApi
        where apiHi.api_base_id = registerApi.api_base_id and apiHi.api_base_id = #{apiId}
    </select>
</mapper>
