<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditApiGroupMapper">

    <select id="hasExit"
            resultType="java.lang.Boolean">
        select 1
        from icredit_api_group
        <where>
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
            <if test="id != null and id != '' ">
                AND id != #{id}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="getMaxSort"
            resultType="java.lang.Integer">
        select ifnull(Max(sort), 0)
        from icredit_api_group
    </select>

    <select id="getByWorkId"
            resultType="com.jinninghui.datasphere.icreditstudio.dataapi.web.result.ApiGroupResult">
        select name as apiGroupName,
        id as apiGroupId
        from icredit_api_group
        <where>
            <if test="workFlowId !=null">
                and work_id = #{workFlowId}
            </if>
        </where>
        and del_flag = 0
    </select>

    <select id="searchFromName"
            resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditApiGroupEntity">
        select *
        from icredit_api_group
        <where>
            <if test="name !=null and name != '' ">
                and name like concat ('%', #{name}, '%')
            </if>
            AND del_flag = 0
        </where>
    </select>

    <select id="getIdsByWorkId"
            resultType="java.lang.String">
        select id as apiGroupId
        from icredit_api_group
        <where>
            <if test="workFlowId !=null">
                and work_id = #{workFlowId}
            </if>
        </where>
    </select>

    <select id="getGroupListByWorkFlowId" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.web.result.GroupIdAndNameResult">
        select id,name from icredit_api_group
        where del_flag = 0
        and work_id in
        <foreach collection="list" index="index" item="workFlowId" open="(" close=")" separator=",">
            #{workFlowId}
        </foreach>
    </select>

    <update id="renameById">
        update icredit_api_group SET `name` = #{name} WHERE id = #{id} AND del_flag = 0
    </update>

    <select id="findNextApiGroupId" resultType="java.lang.String">
        select id
        from icredit_api_group
        where del_flag = 0 and work_id = #{workFlowId} and sort &lt; #{sort}
        order by sort desc
        limit 1
    </select>

    <select id="getFirstApiGroupForWorkFlow" resultType="java.lang.String">
        select id
        from icredit_api_group
        where del_flag = 0 and work_id = #{workFlowId}
        order by sort desc
        limit 1
    </select>
</mapper>
