<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditAppGroupMapper">

    <select id="getList" parameterType="com.jinninghui.datasphere.icreditstudio.dataapi.web.AppQueryListParam"
            resultType="com.jinninghui.datasphere.icreditstudio.dataapi.dto.AppQueryListDTO">
        (
          SELECT appGroup.id,appGroup.`name`,appGroup.generate_id AS generateId,NULL AS certificationType,NULL AS isEnable,NULL AS period,
                appGroup.create_by AS createBy,appGroup.create_time AS createTime,appGroup.`desc`,NULL AS appGroupId
          FROM icredit_app_group appGroup LEFT JOIN icredit_app app ON appGroup.id = app.app_group_id
          WHERE appGroup.del_flag = 0
          <if test="appGroupName != null and appGroupName != ''">
              AND appGroup.name LIKE concat ('%', #{appGroupName}, '%')
          </if>
          <if test="appName != null and appName != ''">
              AND app.name LIKE concat ('%', #{appName}, '%')
          </if>
          <if test="certificationType != null">
              AND app.certification_type = #{certificationType}
          </if>
          <if test="isEnable != null">
              AND app.is_enable = #{isEnable}
          </if>
          <if test="period != null">
              AND app.period = #{period}
          </if>
          ORDER BY appGroup.create_time DESC
        )
        UNION ALL
        (
          SELECT app.id,app.`name`,app.generate_id AS generateId,app.certification_type AS certificationType,app.is_enable AS isEnable,app.period,
                app.create_by AS createBy,app.create_time AS createTime,app.`desc`,app_group_id AS appGroupId
          FROM icredit_app_group appGroup LEFT JOIN icredit_app app ON appGroup.id = app.app_group_id
          WHERE app.del_flag = 0
            <if test="appGroupName != null and appGroupName != ''">
                AND appGroup.name LIKE concat ('%', #{appGroupName}, '%')
            </if>
            <if test="appName != null and appName != ''">
                AND app.name LIKE concat ('%', #{appName}, '%')
            </if>
            <if test="certificationType != null">
                AND app.certification_type = #{certificationType}
            </if>
            <if test="isEnable != null">
                AND app.is_enable = #{isEnable}
            </if>
            <if test="period != null">
                AND app.period = #{period}
            </if>
          ORDER BY app.create_time DESC
        )
    </select>

    <select id="hasExitByName"
            resultType="java.lang.Boolean">
        select 1
        from icredit_app_group
        <where>
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
            <if test="id != null and id != '' ">
                AND id != #{id}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="hasExitByGenerateId"
            resultType="java.lang.Boolean">
        select 1
        from icredit_app_group
        <where>
            <if test="generateId != null and generateId != '' ">
                AND generate_id = #{generateId}
            </if>
            <if test="id != null and id != '' ">
                AND id != #{id}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>
</mapper>
