<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditApiBaseMapper">
    <select id="findByApiName" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditApiBaseEntity">
        select *
        from icredit_api_base
        where del_flag = 0
        <if test="name != null and name != '' ">
            AND name = #{name}
        </if>
        limit 1
    </select>

    <select id="findByApiPath" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditApiBaseEntity">
        select *
        from icredit_api_base
        where del_flag = 0
        <if test="path != null and path != '' ">
            AND path = #{path}
        </if>
        limit 1
    </select>
</mapper>
