<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditAuthConfigMapper">

    <update id="deletes" parameterType="java.util.Map">
        UPDATE icredit_auth_config SET del_flag=1 WHERE 1=1 AND del_flag=0 AND
        <trim prefixOverrides="AND|OR">
            <if test="ids != null"> AND
                <foreach collection="ids" item="item" open=" id in (" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </trim>
    </update>

    <update id="updateByIds" parameterType="com.jinninghui.datasphere.icreditstudio.dataapi.dto.ICreditAuthConfigUpdateDTO">
        UPDATE icredit_auth_config
        <set>
            <trim suffixOverrides=",">
                <if test="null!=periodBegin">period_begin=#{periodBegin},</if>
                <if test="null!=periodEnd">period_end=#{periodEnd},</if>
                <if test="null!=allowCall">allow_call=#{allowCall},</if>
            </trim>
        </set>
        <where> 1=1 and del_flag=0 and
            <foreach collection="ids" item="item" index="index" open=" id in (" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>
</mapper>
