<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditAuthMapper">

    <select id="findByAppId" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditAuthEntity">
        select *
        from icredit_auth
        where del_flag = 0
        <if test="appId != null and appId != ''">
            and app_id = #{appId}
        </if>
    </select>

    <delete id="removeByAppId">
        delete from icredit_auth where app_id = #{appId}
    </delete>

    <select id="getApiAuthCount" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            icredit_api_base_hi
        WHERE
                api_base_id IN (
                SELECT DISTINCT
                    api_id
                FROM
                    icredit_auth
                WHERE
                    del_flag = 0
            )
          and
            del_flag = 0
    </select>

    <select id="getAppAuthCount" resultType="java.lang.Long">
        select ifnull(count(distinct app_id), 0) from icredit_auth
        <where>
            <if test="delFlag != null">
                AND del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <select id="getListByAppId" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.web.result.AuthListResult" parameterType="com.jinninghui.datasphere.icreditstudio.dataapi.web.request.AuthListRequest">
        SELECT api.name as apiName, api.path apiPath, api.id apiId, iac.period_begin authPeriodBegin,
        iac.period_end authPeroidEnd, iac.allow_call authAllowCall, ia.app_id appId, iac.id authId
        FROM icredit_auth ia
        inner join icredit_auth_config iac ON ia.auth_config_id=iac.id
        inner JOIN icredit_api_base api ON ia.api_id=api.id
        <where> 1=1 AND ia.del_flag=0 and iac.del_flag=0 and api.del_flag=0 AND ia.app_id=#{appId}
            <if test="apiName != null"> AND INSTR(api.name , #{apiName})>0 </if>
            <if test="apiPath != null"> AND INSTR(api.path , #{apiPath})>0 </if>
            <if test="periodBegin != null"> AND iac.period_begin &gt;= #{periodBegin} </if>
            <if test="periodEnd != null"> AND iac.period_end &lt;= #{periodEnd} </if>
            <if test="durationType != null">
                <if test="durationType==1"> AND iac.allow_call = -1 </if>
                <if test="durationType==1"> AND iac.allow_call &gt; = 0 </if>
            </if>
        </where>
        <if test="pageNum gt 0 and pageSize gt 0"> LIMIT #{pageStart}, #{pageSize} </if>

    </select>

    <select id="getApiAuthList" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.web.result.AuthListResult" parameterType="com.jinninghui.datasphere.icreditstudio.dataapi.web.request.AuthListRequest">
        SELECT
        ia.app_id appId,
        ia.api_id apiId,
        app.app_group_id appGroupId,
        iac.allow_call authAllowCall,
        iac.period_begin authPeriodBegin,
        iac.period_end authPeroidEnd,
        app.token_type appTokenType
        FROM
        icredit_auth ia
        INNER JOIN icredit_app app ON ia.app_id = app.id
        INNER JOIN icredit_auth_config iac ON ia.auth_config_id = iac.id
        <where> 1=1 AND ia.del_flag=0 and app.del_flag=0 AND iac.del_flag=0 AND ia.api_id=#{apiId} </where>

    </select>
</mapper>
