<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditAuthMapper">

    <select id="findByAppId" resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditAuthEntity">
        select *
        from icredit_auth
        where del_flag = 0
        <if test="appId != null and appId != ''">
            and app_id = #{appId}
        </if>
    </select>

    <delete id="removeByAppId">
        delete from icredit_auth where app_id = #{appId}
    </delete>

    <select id="getApiAuthCount" resultType="java.lang.Long">
        select ifnull(count(distinct api_id), 0) from icredit_auth
        <where>
            <if test="delFlag != null">
                AND del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <select id="getAppAuthCount" resultType="java.lang.Long">
        select ifnull(count(distinct app_id), 0) from icredit_auth
        <where>
            <if test="delFlag != null">
                AND del_flag = #{delFlag}
            </if>
        </where>
    </select>
</mapper>
