<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.dataapi.mapper.IcreditAppMapper">

    <select id="hasExistappFlag"
            resultType="java.lang.Boolean">
        select 1
        from icredit_app
        <where>
            <if test="appFlag != null and appFlag != '' ">
                AND app_flag = #{appFlag}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <update id="enableById">
        update icredit_app
        <set>
            is_enable=#{request.isEnable}
        </set>
        <where>
            id=#{request.id}
        </where>
    </update>

    <select id="getByAppFlag"
            resultType="com.jinninghui.datasphere.icreditstudio.dataapi.entity.IcreditAppEntity">
        select *
        from icredit_app
        <where>
            <if test="appFlag != null and appFlag != '' ">
                AND app_flag = #{appFlag}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="hasExitByGenerateId" resultType="java.lang.Boolean">
        select 1
        from icredit_app
        <where>
            <if test="generateId != null and generateId != '' ">
                AND generate_id = #{generateId}
            </if>
            <if test="appGroupId != null and appGroupId != '' ">
                AND app_group_id != #{appGroupId}
            </if>
            AND del_flag = 0
        </where>
        limit 1
    </select>

    <select id="findEnableAppIdByAppGroupIds" resultType="java.lang.String">
        select id
        from icredit_app
        where del_flag = 0
        and is_enable = 1
        and app_group_id in
        <foreach collection="list" index="index" item="appGroupId" open="(" close=")" separator=",">
            #{appGroupId}
        </foreach>
        limit 1
    </select>

    <select id="getIdsByAppGroupIds" resultType="java.lang.String">
        select id
        from icredit_app
        where del_flag = 0
        and app_group_id in
        <foreach collection="list" index="index" item="appGroupId" open="(" close=")" separator=",">
            #{appGroupId}
        </foreach>
    </select>

    <select id="findEnableAppIdByIds" resultType="java.lang.String">
        select id
        from icredit_app
        where del_flag = 0
        and is_enable = 1
        and id in
        <foreach collection="list" index="index" item="appId" open="(" close=")" separator=",">
            #{appId}
        </foreach>
        limit 1
    </select>

    <select id="getCountByEnableAndDelFlag" resultType="java.lang.Long">
        select ifnull(count(*), 0) from icredit_app
        <where>
            <if test="isEnable != null">
                AND is_enable = #{isEnable}
            </if>
            <if test="delFlag != null">
                AND del_flag = #{delFlag}
            </if>
        </where>
    </select>
</mapper>
